body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images//bg-wool-dark.png');
    background-size: cover;
    background-position: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(8, 90px);
    gap: 0;
}

.piece{
    position: relative;
    z-index: 9;
}

.square img {
height: 70px;
width: 70px;
margin: 10px;
position: relative;
z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.square{
    position: relative;
}

.square-dark {
    background-image: url('images/grassDark.jpg');
    background-size: cover;
}

.square-light {
    background-image: url('images/grassLight.jpg');
    background-size: cover;
}

.square-dark-nether {
    background-image: url('images/netherrack.jpg');
    background-size: cover;
}

.square-light-nether {
    background-image: url('images/glowstone.png');
    background-size: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo preto transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Estilo para a div centralizada */
.modal-box {
    background-image: url('images/inventoryPromotion.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    padding: 300px;
    z-index: 10;
}
.modal-container {
    position: fixed;
    top: 350px;
    left: 490px;
    display: flex;
    justify-content: space-between; /* Coloca as divs com espaço igual entre elas */
    align-items: center;
    z-index: 10;
}

.modal-item {
    width: 50px; /* Largura das divs (ajuste conforme necessário) */
    height: 50px; /* Altura das divs (ajuste conforme necessário) */
    background-color: transparent;
    /*background-color: rgba(255, 255, 255, 0.5); */
    margin: 6px; /* Espaçamento entre as divs (ajuste conforme necessário) */
    display: inline-block;
    cursor: pointer;
}

.modal-item:nth-child(1) {
    background-image: url('images/pieces/sheepTower.png');
    background-size: cover;
}

.modal-item:nth-child(2) {
    background-image: url('images/pieces/cowKnight.png');
    background-size: cover;
}

.modal-item:nth-child(3) {
    background-image: url('images/pieces/wolfBishop.png');
    background-size: cover;
}

.modal-item:nth-child(4) {
    background-image: url('images/pieces/alexQueen.jpg');
    background-size: cover;
}

.hidden {
    display: none;
}
/*---------------------------------------------------------------------------------------------------------------*/

